body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  fieldset {
    border: none;
    padding: 0;
  }
  
  input[type="number"],
  select,
  input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select {
    appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select option {
    padding: 5px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }